{{#if siteSettings.enable_pm_auto_responder_for_admins}}
  {{#if model.admin}}
    <div class="control-group pm-auto-responder">
      <label class="control-label">Auto responder message</label>
      <div class="controls">
        {{d-editor value=model.custom_fields.mmn_auto_respond_message showUploadModal="showUploadModal"}}
      </div>
    </div>
  {{/if}}
{{/if}}